<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Pokémon"></ion-searchbar>

  <ion-list>
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>
            Bulbasaur
          </h3>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>001</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>
            Charmander
          </h3>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="fire">
        <ion-label>004</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>
            Squirtle
          </h3>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="water">
        <ion-label>007</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>
            Pikachu
          </h3>
          <ion-badge color="electric">Eletric</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="electric">
        <ion-label>025</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/149.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>
            Dragonite
          </h3>
          <ion-badge color="dragon">Dragon</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="dragon">
        <ion-label>149</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>