// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** grass **/
  --ion-color-grass: #9bcc50;
  --ion-color-grass-rgb: 155,204,80;
  --ion-color-grass-contrast: #212121;
  --ion-color-grass-contrast-rgb: 0,0,0;
  --ion-color-grass-shade: #88b446;
  --ion-color-grass-tint: #a5d162;

  /** poison **/
  --ion-color-poison: #b97fc9;
  --ion-color-poison-rgb: 185,127,201;
  --ion-color-poison-contrast: #ffffff;
  --ion-color-poison-contrast-rgb: 0,0,0;
  --ion-color-poison-shade: #a370b1;
  --ion-color-poison-tint: #c08cce;

  /** fire **/
  --ion-color-fire: #fd7d24;
  --ion-color-fire-rgb: 253,125,36;
  --ion-color-fire-contrast: #ffffff;
  --ion-color-fire-contrast-rgb: 0,0,0;
  --ion-color-fire-shade: #df6e20;
  --ion-color-fire-tint: #fd8a3a;

  /** water **/
  --ion-color-water: #4592c4;
  --ion-color-water-rgb: 69,146,196;
  --ion-color-water-contrast: #ffffff;
  --ion-color-water-contrast-rgb: 0,0,0;
  --ion-color-water-shade: #3d80ac;
  --ion-color-water-tint: #589dca;

  /** electric **/
  --ion-color-electric: #eed535;
  --ion-color-electric-rgb: 238,213,53;
  --ion-color-electric-contrast: #212121;
  --ion-color-electric-contrast-rgb: 0,0,0;
  --ion-color-electric-shade: #d1bb2f;
  --ion-color-electric-tint: #f0d949;

  /** dragon **/
  --ion-color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  --ion-color-dragon-rgb: 83,164,207;
  --ion-color-dragon-contrast: #ffffff;
  --ion-color-dragon-contrast-rgb: 0,0,0;
  --ion-color-dragon-shade: #4990b6;
  --ion-color-dragon-tint: #64add4;

  /** flying **/
  --ion-color-flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  --ion-color-flying-rgb: 61,199,239;
  --ion-color-flying-contrast: #212121;
  --ion-color-flying-contrast-rgb: 0,0,0;
  --ion-color-flying-shade: #36afd2;
  --ion-color-flying-tint: #50cdf1;
}

.ion-color-grass {
  --ion-color-base: var(--ion-color-grass);
  --ion-color-base-rgb: var(--ion-color-grass-rgb);
  --ion-color-contrast: var(--ion-color-grass-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grass-contrast-rgb);
  --ion-color-shade: var(--ion-color-grass-shade);
  --ion-color-tint: var(--ion-color-grass-tint);
}

.ion-color-poison {
  --ion-color-base: var(--ion-color-poison);
  --ion-color-base-rgb: var(--ion-color-poison-rgb);
  --ion-color-contrast: var(--ion-color-poison-contrast);
  --ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb);
  --ion-color-shade: var(--ion-color-poison-shade);
  --ion-color-tint: var(--ion-color-poison-tint);
}

.ion-color-fire {
  --ion-color-base: var(--ion-color-fire);
  --ion-color-base-rgb: var(--ion-color-fire-rgb);
  --ion-color-contrast: var(--ion-color-fire-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb);
  --ion-color-shade: var(--ion-color-fire-shade);
  --ion-color-tint: var(--ion-color-fire-tint);
}

.ion-color-water {
  --ion-color-base: var(--ion-color-water);
  --ion-color-base-rgb: var(--ion-color-water-rgb);
  --ion-color-contrast: var(--ion-color-water-contrast);
  --ion-color-contrast-rgb: var(--ion-color-water-contrast-rgb);
  --ion-color-shade: var(--ion-color-water-shade);
  --ion-color-tint: var(--ion-color-water-tint);
}

.ion-color-electric {
  --ion-color-base: var(--ion-color-electric);
  --ion-color-base-rgb: var(--ion-color-electric-rgb);
  --ion-color-contrast: var(--ion-color-electric-contrast);
  --ion-color-contrast-rgb: var(--ion-color-electric-contrast-rgb);
  --ion-color-shade: var(--ion-color-electric-shade);
  --ion-color-tint: var(--ion-color-electric-tint);
}

.ion-color-dragon {
  --ion-color-base: var(--ion-color-dragon);
  --ion-color-base-rgb: var(--ion-color-dragon-rgb);
  --ion-color-contrast: var(--ion-color-dragon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dragon-contrast-rgb);
  --ion-color-shade: var(--ion-color-dragon-shade);
  --ion-color-tint: var(--ion-color-dragon-tint);
}

.ion-color-flying {
  --ion-color-base: var(--ion-color-flying);
  --ion-color-base-rgb: var(--ion-color-flying-rgb);
  --ion-color-contrast: var(--ion-color-flying-contrast);
  --ion-color-contrast-rgb: var(--ion-color-flying-contrast-rgb);
  --ion-color-shade: var(--ion-color-flying-shade);
  --ion-color-tint: var(--ion-color-flying-tint);
}